#h1 {
  background-color: aquamarine;
  border: 2px solid rgb(0, 255, 85);
  color: brown;
}
#h2 {
  background-color: pink;
  border: 2px solid rgb(255, 0, 43);
  color: rgb(65, 42, 165);
}
#h3 {
  background-color: rgb(128, 128, 223);
  border: 2px solid rgb(47, 0, 255);
  color: rgb(53, 29, 2);
}
